.cell{
    width:20px;
    height:20px;
}
.bomb{
    width: 15px;
    height: auto;
}
button{
    width:20px;
    height:20px;
    background-color: initial;
}
table{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
}
body{
    background-color: darkgrey;
}